:root {
    --darkred: #b00b1e;
    --offwhite: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

html,
body {
    margin: 0;
    height: 100%;
}

#scenario {
    padding: 2rem 5vw;
    box-shadow: 0 0 4rem black;
    margin-bottom: 2rem;
    h1 {
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Courier New', Courier, monospace;
        text-transform: capitalize;
        margin-left: 15vw;
    }
    p {
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 1rem;
    }
    p.dialogue {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    a {
        color: black;
    }

}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    .link {
        width: 10vw;
    }
    #djsLogo {
        a {
            filter: grayscale(100%);
            transition: 0.2s;
        }
        a:hover {
            filter: grayscale(0%);
        }
    }
}

@media screen and (min-width: 740px) {
    #scenario {
        padding: 5vw 10vw;
        margin: 4rem 10vw;
        box-shadow: 0 0 4rem black;
        margin-bottom: 2rem;
    }
    #links {
        justify-content: center;
        .link {
            width: 4vw;
            padding: 1vw;
        }
    }
}