:root {
    --yellow: #FFFBBE;
    --aboutme: #FFFEF2;
    --pink: #FFC2FF;
    --highlights: #FFF2FF;
    --turquoise: #B5FFFC;
    --playground: #EDFFFE;
    --purple: #ddc2ff;
    --posters: #f2e8ff;
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-family: 'Sligoil', serif;
        text-align: center;
        margin-bottom: 1rem;
    }
    #imageMe img{
        width: 50vw;
        border-radius: 50%;
        box-shadow: 0 0 0 0 var(--purple);
        transition: 0.1s ease-in-out;
    }

    #imageMe img:hover{
        box-shadow: 0 0 0 10px var(--purple);
    }

    #links {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        .logo {
            height: 3rem;
            margin: 0.5rem;
            img {
                height: 100%;
            }
        }

        .logo:hover {
            scale: 1.1;
            transition: 0.05s ease-in-out;
        }
    }
}

@media screen and (min-width: 1025px) {
    main {
        #imageMe img{
            width: 30vw;
            border-radius: 50%;
        }
    }
}